.curiosity {
  .shrink {
    // animation:shrinksize .25s linear reverse;
    position: relative;
    left: 0;
    animation:shrinksize .25s linear forwards;
    transform-origin: 0;
    // animation-iteration-count: 1;
    // animation-name: shrinksize;
    // animation-delay:.25s;
    // animation-timing-function: linear;
    //
    // animation-delay:.25s;
    // animation-direction: reverse;
  }

  @keyframes shrinksize {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0);
      display: none;
    }
  }

  .blur {
    filter: blur(4px);
  }

  .faded {
    opacity: 0.3;
  }

  .fadein {
    opacity:0;
    animation:fadein .25s ease-in forwards;
    animation-delay:.25s;
  }

  @keyframes fadein { 0%{opacity:0} 100%{opacity:1} }

  .fadeout {
    opacity:1;
    animation:fadeout .25s ease-in forwards;
    animation-delay:.25s;
  }

  @keyframes fadeout { 0%{opacity:1} 100%{opacity:0} }

  .hidden {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
  }

  .transparent {
    opacity: 0;
  }
}
