.curiosity {
  &.pf-c-page__main-section {
    box-shadow: var(--pf-global--BoxShadow--sm);

    .pf-c-card {
      box-shadow: none;
    }
  }

  .curiosity-inventory-list,
  .curiosity-inventory-guestlist {
    border-top-width: 0;
  }
}
