.curiosity {
  .curiosity-pagination-scroll {
    position: relative;
  }

  .curiosity-pagination-scroll-loader__custom,
  .curiosity-pagination-scroll-loader__spinner {
    background: var(--pf-global--BackgroundColor--100);
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  .curiosity-pagination-scroll-loader__spinner {
    display: inline-block;
    border-radius: 25%;
    left: inherit;
    right: 40px;
    padding: 2px;
    width: auto;
  }

  .curiosity-pagination-scroll-list {
    overflow-y: auto;
    min-height: calc(100% / 2);
    max-height: calc(100%);
    padding-bottom: 20px;
  }
}
