.curiosity {
  .curiosity-tabs-container {
    min-height: 775px;

    section.pf-c-tab-content:focus {
      outline: none;
    }
  }

  .curiosity-tabs {
    background-color: var(--pf-global--BackgroundColor--100);
  }

  .curiosity-tabs__no-scroll {
    @extend .curiosity-tabs;

    > .pf-c-tabs__scroll-button {
      display: none;
    }
  }
}
